.center {
    display: flex;
    justify-content: center;
}

.addButton {
    cursor: pointer;
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 10%;
    background-color: rgb(109, 219, 214);
    border-radius: 10px;

}

.addButton:hover {
    background-color: rgb(101, 202, 197);
    transition-duration: 300ms;
}