.userTable {
    display: inline-block;
    margin-top: 50px;
}

th, td {
    text-align: center;
    padding: 5px 20px;
    
}

.action {
    cursor: pointer;
    background-color: rgb(109, 219, 214);
    color: white;
    border-radius: 10px;
    margin: 0px 5px;
    padding: 5px;
    border-width: 0px;
}

.action:hover {
    background-color: rgb(101, 202, 197);
    transition-duration: 300ms;
}